__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.git
.github
.mypy_cache
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
README.md
Dockerfile
docker-compose.yml
render.yaml
downloads/*
temp/*
